@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌙 Mod automat de dark/light */
:root {
  @apply text-gray-900 bg-gray-100 dark:text-white dark:bg-gray-900;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html, body {
  width: 100%;
  height: 100vh; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  @apply bg-gradient-to-br from-blue-500 to-indigo-600 dark:from-gray-800 dark:to-gray-900;
}

a {
  font-weight: 500;
  @apply text-blue-600 dark:text-blue-400;
}
a:hover {
  @apply text-blue-800 dark:text-blue-300;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-lg font-medium bg-blue-500 text-white transition duration-300 ease-in-out hover:bg-blue-600 dark:bg-blue-700 dark:hover:bg-blue-600;
}

button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}
